<!DOCTYPE html>
html(lang="en-us")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title UI-Kit
    link(rel="stylesheet", href="/ui-kit/templates/basic/basic.sass")
    link(rel="stylesheet", href="/ui-kit/components/text-field/text-field.sass")
  body
    div(class="text-filed")
      div(class="text-filed__title") TEXT FIELD
      input(class="text-filed__input", placeholder="Email")
    
