/* Text Field */
//Import template variables
@import "/ui-kit/templates/basic/_basic.sass"

.text-filed
  width: 320px
  height: 67px
  &__title
    height: 15px
    font-family: $font-h3-family
    font-style: $font-h3-style
    font-weight: $font-h3-weight
    font-size: $font-h3-size
    line-height: $font-h3-line-height
    text-transform: $font-h3-text-transform
    color: $font-h3-color
  &__input
    width: 320px
    height: 44px
    background: #FFFFFF
    border: 1px solid $color-main-25
    box-sizing: border-box
    border-radius: 4px
    font-family: $font-body-family
    font-style: $font-body-style
    font-weight: $font-body-weight
    font-size: $font-body-size
    line-height: $font-body-line-height
    color: $color-main-25
    &:hover
      border: 1px solid $color-main-50
      color: $color-main-75
    &:focus
      border: 1px solid $color-main-50
      color: $color-main-75
